.similar-ads { overflow: hidden; height: 210px; text-align: left;  /* padding-bottom: 20px; */ }
.jcarousel-skin-tango {}
.similar-descr {color: #000000; text-align: left; line-height: 1.2; font-size: 12px;}
.similar-price {padding-top: 5px; color: #000000; text-align: left; line-height: 1.2; font-size: 12px;}